
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
}

.page {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 0px 10px 20px 10px;
	overflow-x: hidden;
	overflow-y: auto;
	border: solid 5px var(--pageBorderColor);
	border-radius: 5px;
	background: var(--pageBackgroundColor);
	background-clip: padding-box;
	color : var(--pageTextColor);

	h1 {
		margin: 0 -10px 1rem -10px;
		padding: 0.5rem;
		background: var(--h1BackgroundColor);
		color: var(--h1TextColor);
		font-family: 'Teko', sans-serif;
		font-weight: 700;
		font-size: 2rem;
		text-align: center;
	}

	h2 {
		margin: 1rem 0 calc(0.5rem - 1px) 0;
		border-bottom: solid 1px;
		border-bottom-color: var(--h2BorderColor);
		color: var(--h2TextColor);
		font-family: 'Teko', sans-serif;
		font-weight: 700;
		font-size: 1.5rem;
		text-align: left;
	}

	p {
		margin-top: 0;
		margin-bottom: 1rem;
		text-align: justify;
	}

	ul {
		margin: 0;
		margin-bottom: 1rem;
		padding: 0;
		padding-left: 2rem;
	}

	li {
		list-style-type: circle;
	}

	em {
		font-style: normal;
		font-weight: bold;
	}

	cite {
		font-style: italic;
		font-weight: normal;
	}

	blockquote {
		margin: -1rem -10px 1rem -10px;
		padding: 1rem calc(10px + 3rem) 1rem calc(10px + 3rem);
		color: var(--quoteTextColor);
		background: var(--quoteBackgroundColor);
		font-size: 1rem;
		text-align: center;
	}

	aside {
		box-sizing: border-box;
		padding: calc(1rem - 2px + 5px);
		padding-bottom: 0;
		margin-left: -5px;
		margin-right: -5px;
		margin-bottom: 0;
		border: solid 2px var(--asideBorderColor);
		border-radius: 15px;
		background: var(--asideBackgroundColor);

		h3 {
			margin: 0 0 calc(0.5rem - 1px) 0;
			border-bottom: solid 1px;
			border-bottom-color: var(--h2BorderColor);
			color: var(--h2TextColor);
			font-family: 'Teko', sans-serif;
			font-weight: 700;
			font-size: 1.5rem;
			text-align: left;
		}
	}

	img {
		max-width: 100%;
	}

	a.external::after {
		content : "🌎";
		opacity : 0.4;
		font-size: 0.7rem;
	}
}

.button {
	box-sizing: border-box;
	padding: 10px;
	height: 40px;
	background: var(--buttonBackgroundColor);
	color: var(--buttonTextColor);
	border: none;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	user-select: none;
	font-size: 10pt;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);

	&_square {
		border-radius: 0;
	}

	&_fullWidth {
		width:100%;
	}

	&_navButton {
		width:100%;
		margin-bottom: 1rem;
	}

	&:hover{
		outline: 0;
		filter: brightness(1.2) saturate(0.7) contrast(1.2);
	}

	@keyframes bouton__active {
		from {
			transform: scale(1.0);
		}
		50% {
			transform: scale(0.95);
		}
		to {
			transform: scale(1.0);
		}
	}

	&:active {
		animation-name: bouton__active;
		animation-duration: 200ms;
	}
}
