
.button {
	box-sizing: border-box;
	padding: 10px;
	height: 40px;
	background: var(--buttonBackgroundColor);
	color: var(--buttonTextColor);
	border: none;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	user-select: none;
	font-size: 10pt;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);

	&_square {
		border-radius: 0;
	}

	&_fullWidth {
		width:100%;
	}

	&_navButton {
		width:100%;
		margin-top: 1rem;
		margin-bottom: 1rem;
		display: block;
	}

	&:hover{
		outline: 0;
		filter: brightness(1.2) saturate(0.7) contrast(1.2);
		&:disabled {
			filter: none;
		}
	}

	@keyframes bouton__active {
		from {
			transform: scale(1.0);
		}
		50% {
			transform: scale(0.95);
		}
		to {
			transform: scale(1.0);
		}
	}

	&:active {
		animation-name: bouton__active;
		animation-duration: 200ms;
		&:disabled {
			animation: none;
		}
	}

	&:disabled {
		opacity: 0.3;
		cursor: default;
	}
}

.button_icon {
	width : 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.button_openSidePanel {
	display: inline-block;
	width: calc(3.5rem - 10px);
	height: calc(3.5rem - 10px);
	margin: 5px;
	justify-self: right;

	.button_icon_openSidePanel {
		background-image: url(images/icon_menu.png);
	}
}

.button_left {
	display: inline-block;
	width: calc(3.5rem - 10px);
	height: calc(3.5rem - 10px);
	margin: 5px;
	justify-self: right;

	.button_icon_left {
		background-image: url(images/icon_left.png);
	}
}


.button_right {
	display: inline-block;
	width: calc(3.5rem - 10px);
	height: calc(3.5rem - 10px);
	margin: 5px;
	justify-self: right;

	.button_icon_right {
		background-image: url(images/icon_right.png);
	}
}

.button_back {
	display: inline-block;
	width: calc(3.5rem - 10px);
	height: calc(3.5rem - 10px);
	margin: 5px;
	justify-self: right;

	.button_icon_back {
		background-image: url(images/icon_back.png);
	}
}
