<div id="mainUI_background" class="mainUI_background"></div>
<div id="mainUI_mainContainer" class="mainUI_mainContainer">
	<div id="mainUI_title" class="mainUI_title"></div>
	<div id="mainUI_pageContainer" class="mainUI_pageContainer"></div>
	<div id="mainUI_header" class="mainUI_header">
		<button id="button_openSidePanel" class="button button_openSidePanel">
			<div class="button_icon button_icon_openSidePanel"></div>
		</button>
	</div>
	<div id="mainUI_footer" class="mainUI_footer">
		<button id="button_back" class="button button_back">
			<div class="button_icon button_icon_back"></div>
		</button>
		<button id="button_left" class="button button_left">
			<div class="button_icon button_icon_left"></div>
		</button>
		<button id="button_right" class="button button_right">
			<div class="button_icon button_icon_right"></div>
		</button>
	</div>
	<div id="mainUI_overlaySidePanel" class="mainUI_overlaySidePanel">
		<div id="mainUI_sidePanel" class="mainUI_sidePanel">
			<nav id="mainUI_navPanel" class="mainUI_navPanel"></nav>
			<div id="mainUI_legalPanel" class="mainUI_legalPanel">
				<div class="licence">
					<a class="licence_logo" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
						<img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
					</a>
					<p class="licence_text">Sauf mention contraire, le contenu de ce site est distribué sous une licence <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="mainUI_popupContainer" class="mainUI_popupContainer"></div>